# Virtual environment
env/

# projects (have their own git repo)
prj/

# Backup
bck/

# Old files
old/

# Logs
logs/

# Python cache
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
*.pyc
*.egg-info/

# macOS
.DS_Store

# VSCode
.vscode/

# Local automation scripts (not versioned)
.local/
